<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="register.css">
  <script src="../libs/jquery-2.1.1.min.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="common.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycontroller">
    <div class="header clear">
        <a class="headerback" href="#"><img src="../img/back.png" alt=""></a>
        <div class="headername">注册</div>
        <a class="index" href="#"><img src="../img/goindex.png" alt=""></a>
    </div>
    
    <div class="contentbox">
    	<div class="loginfillbox">
        <div class="login-input-wrap">
            <div class="register-namelabel">手机号</div> 
            <input type="tel" placeholder="请输入11位手机号码" id="mobiletel" class="register-input" ng-model="name">
            <span class="del-input"><b></b></span>
        </div> 
        <div class="login-input-wrap">
            <div class="register-namelabel">密码</div> 
            <input type="tel" placeholder="请输入密码" id="getmobilecode" class="register-input" ng-model="psw">
        </div> 
        <div class="login-input-wrap" id="image-code">
            <div class="register-namelabel">确认密码</div>
            <input type="text" placeholder="请再次输入密码" id="geticoncode" class="register-input">
            <span class="del-input icondel"><b></b></span>
            <span class="registericon">
                
            </span>
        </div>
    </div>
    	
    	<div class="loginnowbox">
        <span class="msgreply"></span>
        <input type="button" value="注册" id="registerbtn" class="purplebtn" ng-click="Btn()">
        <span class="userremind">
            *点击注册代表同意<a href="#">《好乐买软件隐私声明》</a>
        </span>
        <p class="hreflogin">
            <a href="http://localhost:88/login/login2.html">已有账号，去登录</a>
        </p>
    </div>
    	
    </div>
</body>
</html>
<script>

    var myApp = angular.module('myapp',['commonApp']);
    myApp.controller('mycontroller',['$scope','$http',function($scope,$http){


        $scope.Btn =function(){


            console.log($scope.name)
            console.log($scope.psw)

            
            $http({
                url:'http://localhost:88/'+'register/register',
                data:{name:$scope.name,password:$scope.psw},
                method:'post'
              }).success(function(data){
                
                    
               
               
             })
        }
     
    }]) ;
  


</script>
