*{margin:0; padding:0;}
html{font-size:19.2px;}
body{width:100%;}
a{text-decoration:none;}
li{list-style:none;}

header{width:100%; position:relative; padding-bottom:1px; height:47px;}
header img{height:47px;}
header .headerback{float:left; width:10%;}
header .goindex{float:right; width:10%;}
header .headername{float:left; display:block; line-height:47px; width:80%; background:red; text-align:center;  background:#f5f5f5;}

.productslide{width:100%; height:360px; position:relative; }
.productslide .prom{width:100%;}
.productslide .prom>li{width:100%; position:absolute; top:0; left:0;}
.productslide .prom img{width:100%;}
.slideNum>ul{width:130px; margin:0 auto; line-height:25px;}
.slideNum i{width:9px; height:9px; background:#ccc; display:block; float:left; border-radius:100%; margin:0 10px 0 0;}


.proinfowrap{height:95px; border-top:1px solid #f8f8f8; margin:10px 0 0 5px;}
.proinfowrap .propricewrap{height:81px; color:#d70057; font-size:20px; margin-top:15px;}
.propricewrap>i{font-size:16px; color:#d70057; font-style: normal; margin-right:5px;}
.propricewrap>.marketprice{font-size:12px; color:#c3c3c3; text-decoration:line-through; margin-left:5px;}
.propricewrap>.proname{color:#333; font-size:14px; margin-top:15px;}

.activitywrap{height:49px; font-size:14px; background:#f8f8f8; line-height: 49px; border-bottom:10px solid #eeeeee;}
.proactivity{color:#8b8b8b; padding:0 5px;}
.activitywrap .actopic{padding:3px 6px; background:#d70057; color:#fff; font-size:12px;}

.prodetailmain{height:98px; margin-left:10px;}
.detailinfohd{height:53px; line-height:53px;}
.detailinfohd .coloritem{width:38px; height:38px; border:2px solid #eee; float:left; position:relative; margin-right:10px;}
.detailinfohd .bcolor{border-color:#d70057;}
.coloritem>img{width:100%;}
.active{position:absolute; width:12px; height:12px; background:url("../img/active-thumb.png")  no-repeat; background-position:-66px -29px; display:block; bottom:0;
right:0; background-size: 7rem 7rem;}

.size{height:120px;  padding:0 5px;  border-bottom:10px solid #eee;}
.size_info{color:#333;  margin-top:20px;}
.size_info>span{color:#d70057; float:right; font-size:12px; font-weight: bold;}
.size li{float:left; width:62px; height:29px; border:1px solid #eee; margin:10px 5px 0 0; text-align:center; line-height:29px; font-size:12px; color:#010101;}

.brand_more{height:39px; line-height:39px; border-bottom:10px solid #eee;  font-size:12px; padding:0 5px;}
.brand_more>img{width:48px; vertical-align:middle; margin-right:3px;}
.brand_more .more{float:right; color:#8a8a8a;}
.brand_more .more>span{font-size:16px;}

.probottomtab{width:100%; text-align:center;}
.probottomtab_sel{width:50%; height:42px; float:left; line-height:42px; border-bottom: 2px solid #e0e0e0;}
.selcolor{border-color:#d70057; color:#d70057;}

.detailabout{padding:5px; font-size:12px; width:100%;}
.tables{width:100%; color:#818181; padding-right:-3px;}
.detailabout tr{height:38px; width:100%;}
.detailabout td:nth-child(1){width:30%; border-bottom:1px solid #e7e7e7;}
.detailabout td:nth-child(2){width:70%; border-bottom:1px solid #e7e7e7;}

.like{width:340px;}

.footer{width:100%; height:47px; background:#181818; position:fixed; bottom:0;}
.rungoods{width:180px; background:#d70057; line-height:47px; color:#fff; display:block; float:right; text-align:center; font-size:14px;}
.footer .all{width:90px; color:#fff; text-align:center; display:block; float:left; height:100%; font-size:14px;}
.all .good{width:100%; height:50%; display:block; float:left;}
.all .coll{width:100%; height:50%; display:block; float:left;}
.all .coll>i{width:25px; height:25px; display:block; background:url(../img/prothumb.png) no-repeat center top; background-position:-2.25rem -3.9rem;  margin:0 auto; background-size: 12.5rem 12.5rem;}

.all .good>i{width:25px; height:25px; display:block; background:url(../img/prothumb.png) no-repeat center top; background-position:-0.9rem -3.9rem;  margin:0 auto; background-size: 12.5rem 12.5rem;}

.radius{border-radius:100%; background:yellow; width:25px; height:25px; position:absolute; left:240px; top:13px; opacity:0.5;}

