*{margin:0; padding:0;}
body{width:100%;}
*{margin:0; padding:0;}
a{text-decoration:none;}
img{vertical-align: top;}

header{width:100%; position:relative; padding-bottom:1px;}
header img{height:47px;}
header .headerback{float:left; width:10%;}
header .goindex{float:right; width:10%;}
header .headername{float:left; display:block; line-height:47px; background:red; width:80%; text-align:center;  background:#f5f5f5;}

.iscroll{position:fixed; top:0; bottom:0; left:0; right:0;  background:#eee; margin-top:46px; overflow:auto;}
.cart{height:152px; background:#fff;}
.cart_top{height:39px; border-bottom:1px dashed #E0E0E0; line-height:39px; padding-left:36px;}
.cart_top .hd-activetitl{height:31px; background:#d70057; color:#fff; padding:0 3px; font-size:14px;}
.cart_top .hd-txt{color:#8b8b8b; font-size:.6rem;}
.cart_bottom{height:112px;}
.cart_bottom_l{width:36px; height:92px; float:left;}
.cart_bottom_l .select{width:25px; height:25px; background:url("../img/active-thumb.png"); background-position:239px -70px; display:block;
margin:36px auto; line-height:112px; border-radius:100%;}
.cart_bottom_r{float:left;}
.cart_bottom_r .ui_link{width:90px; display:block; border:1px solid #ccc; float:left;}
.cart_bottom_r .ui_link>img{width:100%;}

.itemName{width:228px; height:91px; float:right; }
.ui_link_1{color:#333; float:left; display:block; font-size:12px;}
.size{color:#999; font-size:12px; line-height:25px;}
.size>span{color:#d70057; float:right; margin-right:10px;}
.num{width:211px; margin-top:10px;}
.num .nummin{width:84px; text-align:center;}
.num .nummin>a{width:25px; color:#999; display:block; float:left; border:1px solid #999;}
.nummin .nm{width:25px; display:block; float:left; border:1px solid #999; color:#999;}
.del{width:58px; display:block; float:right;}
.del>i{ display:block; background:url("../../connect/img/active-thumb.png"); background-position:48px 1px; width:18px; height:18px; background-size:7.6rem; float:right;}

.sumd{width:100%; background:#2b2b2b; height:53px; position:fixed; bottom:0;}
.ck{width:37px; height:53px; float:left; }
.ck .cartthumb{background:url("../img/active-thumb.png"); background-position:239px -74px; display:block; width:20px; height:20px; margin:15px auto; border-radius:100%;}

.sum{width:212px;  float:left; margin-top:8px; color:#fff;}
.price{font-size:.9rem;}
.price>span{color:#d70057;}
.toprice{font-size:12px;}
.ui-btn-hidden{width:98px; border:none; height:100%; float: right; font-size:18px; color:#fff; background:#d70057;}
