<div id="wrapper">
    <div id="scroller" class="cContent">
        <ul >
            <li ng-repeat="index in response | myFilter : 'pingpai'">
                <p>{{index}}</p>
                <div class="cGoods clear">
                    <a href={{url}} ng-repeat="i in response| filter:{'pagename':'pingpai','class':index}">
                        <img ng-src=../images/{{i.img}} alt="{{i.name}}">
                        <br>{{i.name}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>