<!DOCTYPE html>
<html lang="en">
<!-- 18.75 * fontsize = 屏幕宽度 -->

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/classification.css">
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angular-ui-router.min.js"></script>
    <script src="../libs/swiper.min.js"></script>
    <script src="../libs/iscroll.js"></script>
    <script src="../js/classification.js"></script>
    <style>
        #cSidebar{
            position: relative;
            width: 3.95rem;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myController">
    <header>
    </header>
    <div class="classification clear">
        <!-- <div id="cSidebar" class="swiper-container">
            <div class="cSidebar swiper-wrapper">
                <a href="#classification1" id="cActive" class="cHots swiper-slide">运动生活</a>
                <a href="#classification2" class="cHots swiper-slide">户外鞋服</a>
                <a href="#classification3" class="cHots swiper-slide">休闲服装</a>
                <a href="#classification4" class="cHots swiper-slide">精品男鞋</a>
                <a href="#classification5" class="cHots swiper-slide">时尚女鞋</a>
                <a href="#classification6" class="cHots swiper-slide">快乐儿童</a>
                <a href="#classification7" class="cHots swiper-slide">全 球 购</a>
                <a href="#classification8" class="cHots swiper-slide">家居服饰</a>
                <a href="#classification9" class="cHots swiper-slide">品牌馆</a>
            </div>
        </div> -->
        <div id="cSidebar">
            <div class="cSidebar" style="position: absolute;height: 30.0rem;">
                <a href="#classification1" id="cActive" class="cHots">运动生活</a>
                <a href="#classification2" class="cHots">户外鞋服</a>
                <a href="#classification3" class="cHots">休闲服装</a>
                <a href="#classification4" class="cHots">精品男鞋</a>
                <a href="#classification5" class="cHots">时尚女鞋</a>
                <a href="#classification6" class="cHots">快乐儿童</a>
                <a href="#classification7" class="cHots">全 球 购</a>
                <a href="#classification8" class="cHots">家居服饰</a>
                <a href="#classification9" class="cHots">品牌馆</a>
            </div>
        </div>
        <div data-ui-view="">
            <div id="wrapper">
                <div id="scroller" class="cContent">
                    <ul>
                        <li>
                            <p>热门品牌</p>
                            <div class="swiper-hot" style="width:12rem;height:3rem">
                                <div class="cHot swiper-wrapper clear">
                                    <a href="../qrcode_for_gh_59dd14d4279d_430.jpg" class="swiper-slide" ng-repeat="i in response| filter:{'pagename':'sportsLife','class':'hots'}">
                                        <img ng-src={{i.img}} alt="{{i.name}}">
                                        <br>{{i.name}}
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>运动鞋</p>
                            <div class="cGoods clear">
                                <a href="http://www.baidu.com" ng-repeat="i in response| filter:{'pagename':'sportsLife','class':'sportshoe'}">
                                    <img ng-src={{i.img}} alt="{{i.name}}">
                                    <br>{{i.name}}
                                </a>
                            </div>
                        </li>
                        <li>
                            <p>运动服</p>
                            <div class="cGoods clear">
                                <a href="#" ng-repeat="i in response| filter:{'pagename':'sportsLife','class':'cloth'}">
                                    <img ng-src={{i.img}} alt="{{i.name}}">
                                    <br>{{i.name}}
                                </a>
                            </div>
                        </li>
                        <li>
                            <p>运动包配</p>
                            <div class="cGoods clear">
                                <a href="#" ng-repeat="i in response| filter:{'pagename':'sportsLife','class':'baopei'}">
                                    <img ng-src={{i.img}} alt="{{i.name}}">
                                    <br>{{i.name}}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="footer_nav">
        <li>
            <a href="http://localhost:88/index/index.html">
                <span>            
                <img src="images/hui_1.png" alt="">           
            </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>             
            <img src="images/hong_2.png" alt="">                   
            </span>
            </a>
        </li>
        <li>
            <a href="http://localhost:88/app/html/specialSell.html">
                <span>                 
                <img src="images/hui_3.png" alt="">            
            </span>
            </a>
        </li>
        <li>
            <a href="http://localhost:88/connect/html/goods.html">
                <span>            
             <img src="images/hui_4.png" alt="">                   
            </span>
            </a>
        </li>
        <li>
            <a href="http://localhost:88/login/login2.html">
                <span>            
                 <img src="images/hui_5.png" alt="">                 
            </span>
            </a>
        </li>
    </ul>
</body>

</html>
