<div id="wrapper">
    <div id="scroller" class="cContent">
        <ul >
            <li>
                <p>热门品牌</p>
                <div class="swiper-hot" style="width:12rem;height:3rem">
                    <div class="cHot swiper-wrapper clear">
                        <a href={{url}} class="swiper-slide" ng-repeat="i in response| filter:{'pagename':'sportwears','class':'hots'}">
                            <img ng-src=../images/{{i.img}} alt="{{i.name}}">
                            <br>{{i.name}}
                        </a>
                    </div>
                </div>
            </li>
            <li ng-repeat="index in response | myFilter : 'sportwears'">
                <p>{{index}}</p>
                <div class="cGoods clear">
                    <a href={{url}} ng-repeat="i in response| filter:{'pagename':'sportwears','class':index}">
                        <img ng-src=../images/{{i.img}} alt="{{i.name}}">
                        <br>{{i.name}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>